<div class="flex-vertical stratagem-filter-container">
    <div class="flex-horizontal">
        <div class="flex-vertical">
            <div class="flex-horizontal">
                <p class="primary-text"> Only One Backpack</p>
                <input type="checkbox" (change)="toggleOnlyOneBackpack()">
            </div>
            <div class="flex-horizontal">
                <p class="primary-text">Guatentee Backpack</p>
                <input type="checkbox" (change)="toggleGuatenteeBackpack()">
            </div>
        </div>
        <div class="flex-vertical">
            <div class="flex-horizontal">
                <p class="primary-text">Only One Support Weapon</p>
                <input type="checkbox" (change)="toggleOnlyOneSupport()">
            </div>
            <div class="flex-horizontal">
                <p class="primary-text">Guatentee Support Weapon</p>
                <input type="checkbox" (change)="toggleGuatenteeSupport()">
            </div>
        </div>
    </div>
    <div class="flex-horizontal stratagem-filter-module-container">
        <p class="subtitle-text">Enabled Stratagems:</p>
    </div>
    <div class="flex-vertical">
        <div class="flex-horizontal stratagem-filter-module-container" *ngFor="let module of shipModules">
            <div *ngFor="let stratagem of stratagems">
                <button class="secondary-text stratagem-filter-button" *ngIf="stratagem.shipModule === module"
                    (click)="toggleStratagem(stratagem.id)">
                    <img [src]="stratagem.iconPath" alt="{{ stratagem.name }} toggle" class="stratagem-filter-icon"
                        [class.stratagem-filter-icon-disabled]="disabledIds.includes(stratagem.id)">
                    <!-- {{ stratagem.name }} -->
                </button>
            </div>
        </div>
    </div>
</div>