@import '../../styles.scss';

.stratagem-filter-button {
    aspect-ratio: 1;
    width: $filters-icon-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer
}

input{
    cursor: pointer
}

.secondary-text{
    -webkit-hyphens:auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.stratagem-filter-icon {
    background-color: black;
    aspect-ratio: 1;
}

.stratagem-filter-icon-disabled{
    filter: grayscale(100%);
    background-color: #191919;
    transition: transform 0.05s ease-in-out;
    transform: scale(90%);

    // width: 90%;
    // margin: 0px 10%;

    align-self: center;
}

.stratagem-filter-module-container{
    display: flex;
    justify-content: left;
    width: 100%;
}

.stratagem-filter-container{
    display: flex;
    justify-content: left;
}

.checkboxes-container{
    gap: 5vmin;
}

.checkbox-container{
    cursor: pointer;
}

.flex-horizontal,
.flex-vertical{
    gap: $filter-icon-gap;
}
