<div class="footer-content">
  <div class="filter-section">
    <div class="timestamp-section">
      <p class="secondary-text">
        Data last updated:
        <span class="timestamp">{{ dataLastUpdated }}</span>
      </p>
      <p class="secondary-text">
        Site last updated: <span class="timestamp">{{ buildTimestamp }}</span>
      </p>
    </div>
  </div>
  <div class="filter-section attribution">
    <p class="secondary-text">
      Created for the Helldivers 2 community. Not affiliated with Arrowhead Game
      Studios.
    </p>
  </div>
</div>
