@import "styles";

.filter-section {
  padding: 1rem;
  margin: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.timestamp-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  width: 100%;

  p {
    align-self: baseline;
  }
}

.secondary-text {
  margin: 0;
  font-size: 0.9rem;
  color: #a8a8a8;
}

.timestamp {
  color: #d9d9d9;
  font-weight: 500;
}

.attribution {
  font-size: 0.85rem;
  align-items: center;
  text-align: center;
}

// Desktop-only content class - visible on desktop, hidden on mobile
.desktop-only {
  display: inline; // Visible by default (desktop)
}

@media (max-width: $mobile) {
  .footer-container {
    padding: 0.75rem;
  }

  .secondary-text {
    font-size: 0.8rem;
  }

  .timestamp-section {
    flex-wrap: wrap-reverse;
  }

  // Hide desktop-only content on mobile
  .desktop-only {
    display: none;
  }
}

// Line break between text adn timestamp only on mobile
@media (max-width: $mobile) {
  .mobile-break {
    display: block; // Show the break on mobile
  }
}

@media (min-width: $mobile) {
  .mobile-break {
    display: none; // Hide the break on larger screens
  }
}
