.primary-text,
.secondary-text {
    margin: 0;
    padding: 0 1vmin;
}

.primary-text {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.secondary-text {
    margin-top: 0.2rem;
}


.stratagem-icon {
    aspect-ratio: 1 / 1;
    width: 18vmin;
    height: 18vmin;
}

.icon-background{
    aspect-ratio: 1 / 1;
    width: 18vmin;
    height: 18vmin;
    background-color: black;
}

.flex-vertical{
    justify-content: center;
    align-items: center;
}

.stratagem-display{
    width: 25vmin;
}