<div class="filter-section">
  <app-collapsible-section
    [title]="'Boosters'"
    [variant]="'component'"
    [initiallyCollapsed]="boosterCollapsed"
    (toggled)="toggleBoosterCollapse($event)"
  >
    <div class="filter-container">
      <ng-container *ngFor="let booster of boosters">
        <button
          class="filter-button"
          (click)="toggleBooster(booster.id)"
          [title]="
            (disabledIds.includes(booster.id) ? 'enable ' : 'disable ') +
            booster.name
          "
        >
          <img
            [src]="booster.iconPath"
            alt="{{ booster.name }} toggle"
            class="filter-icon"
            [class.filter-icon-disabled]="disabledIds.includes(booster.id)"
          />
        </button>
      </ng-container>
    </div>
  </app-collapsible-section>
</div>
