<section class="learn-more-section" itemscope itemtype="http://schema.org/SoftwareApplication">
    <div class="separator">
      <h2 class="title-text" itemprop="name">Learn More About Helldivers 2 Loadout Randomiser</h2>
      <img src="assets/down-arrow.png" alt="Scroll down for more information" class="down-arrow">
    </div>
  
    <div class="content">
      <div class="content-section">
        <h2 class="subtitle-text">Ultimate Helldivers 2 Loadout Generator</h2>
        <p class="secondary-text" itemprop="description">
          Welcome to the premier Helldivers 2 Loadout Randomiser, your go-to tool for creating varied and exciting loadouts in Helldivers 2. Our advanced randomizer selects a primary weapon, secondary weapon, grenade, four stratagems, and a booster to craft a fully customized loadout for your next mission, ensuring you're always ready for any challenge Super Earth throws your way.
        </p>
      </div>
  
      <div class="content-section">
        <h3 class="subtitle-text">Unparalleled Customization Features</h3>
        <ul class="feature-list" itemprop="featureList">
          <li><p class="secondary-text">Comprehensive Filters: Fine-tune your randomization by enabling or disabling specific weapons, categories, grenades, stratagems, and boosters.</p></li>
          <li><p class="secondary-text">Warbond Integration: Quickly select content you own by toggling entire warbonds, streamlining your loadout options.</p></li>
          <li><p class="secondary-text">Backpack and Support Weapon Options: Ensure only one backpack or support weapon is selected, with options to guarantee their inclusion for tactical diversity.</p></li>
          <li><p class="secondary-text">User-Friendly Interface: Our intuitive design allows for easy navigation and customization, making it the best Helldivers 2 randomizer tool available.</p></li>
        </ul>
      </div>
  
      <div class="content-section">
        <h3 class="subtitle-text">How to Use Our Helldivers 2 Loadout Generator</h3>
        <ol class="usage-steps" itemprop="howToUse">
          <li><p class="secondary-text">Set your preferences using the extensive filter options below the main randomiser.</p></li>
          <li><p class="secondary-text">Click the "Randomise" button to generate a new, exciting loadout for Helldivers 2.</p></li>
          <li><p class="secondary-text">Adjust filters as needed and re-randomise until you find the perfect loadout for your playstyle and mission requirements.</p></li>
        </ol>
        <p class="secondary-text">
          For an in-depth look at our unique filtering system, <a routerLink="/guide" class="link">check out our comprehensive guide on creating the perfect random loadout for Helldivers 2</a>.
        </p>
      </div>
  
      <div class="content-section">
        <h3 class="subtitle-text">Why Choose Our Customizable Loadout for Helldivers 2?</h3>
        <p class="secondary-text" itemprop="about">
          Our Helldivers 2 Loadout Randomiser breathes new life into your gameplay experience. It encourages experimentation with new combinations, helps you discover unexpected synergies, and challenges you with unfamiliar equipment. Whether you're a veteran Helldiver looking to shake up your strategy or a newcomer wanting to explore all the game has to offer, our randomizer is the ultimate tool to enhance your Super Earth defense tactics.
        </p>
      </div>
  
      <div class="content-section">
        <h3 class="subtitle-text">Stay Updated with the Best Helldivers 2 Randomizer Tool</h3>
        <p class="secondary-text">
          We're committed to providing the most up-to-date and comprehensive Helldivers 2 loadout generator. Our team constantly updates the randomiser to include the latest content from Helldivers 2. Make sure to check back regularly for new weapons, stratagems, and features to keep your loadouts fresh and exciting!
        </p>
        <p class="secondary-text">
          Ready to revolutionize your Helldivers 2 experience? <a href="#" class="link" (click)="scrollToTop($event)">Start generating random loadouts now</a> and dive into the fight against the galaxy's greatest threats with unexpected and thrilling equipment combinations!
        </p>
      </div>
    </div>
  </section>
