<main class="main">
  <div class="flex-vertical">
    <div class="flex-vertical randomiser-display">
      <h1 class="title-text">Helldivers 2 Loadout Randomiser</h1>
      <app-randomise-button (randomise)="randomise()"></app-randomise-button>
      <div class="flex-vertical randomiser-display-container">
        <app-weapon-randomiser></app-weapon-randomiser>
        <app-stratagem-randomiser></app-stratagem-randomiser>
        <app-booster-randomiser></app-booster-randomiser>
      </div>
    </div>
    <div
      style="
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
      "
    >
      <div class="seperator"></div>
    </div>
    <div class="flex-vertical-center">
      <div class="main-content-container">
        <div class="flex-vertical filters-container">
          <!-- Filters Toggle Header -->
          <div class="filters-header" (click)="toggleFiltersCollapse()">
            <h2 class="component-title filters-title">Filters & Options</h2>
            <img
              [src]="'assets/next.png'"
              alt="Toggle filters"
              class="chevron-icon"
              [class.chevron-icon-down]="filtersCollapsed"
            />
          </div>

          <div class="filters-content" [class.collapsed]="filtersCollapsed">
            <app-warbond-filters></app-warbond-filters>
            <app-weapon-filters></app-weapon-filters>
            <app-stratagem-filters></app-stratagem-filters>
            <app-booster-filters></app-booster-filters>
          </div>
        </div>
        <div>
          <div class="seperator"></div>
          <app-learn-more></app-learn-more>
        </div>
      </div>
    </div>
  </div>
</main>
