// .randomiser-display > .flex-horizontal{
// justify-content: center;
// text-align: center;
// }

.seperator{
    width: 90vmin;
    background-color: white;
    height: 1px;
    margin: 10vmin 0;
}