<main class="main">
  <div class="flex-vertical">
    <div class="flex-vertical randomiser-display">
      <h1 class="title-text">Helldivers 2 Loadout Randomizer</h1>
      <div>
        <button class="randomise-button" (click)="randomise()">
          <p class="primary-text randomise-button-text">randomise</p>
        </button>
      </div>
      <div> <!-- adding this  div so the gap: attribute gets ingored between these too so the gap can instead be added my the wepon displays so the layout doesnt move with multi-line weapon names -->
        <app-weapon-randomiser></app-weapon-randomiser>
        <app-stratagem-randomiser></app-stratagem-randomiser>
      </div>
      <app-booster-randomiser></app-booster-randomiser>
    </div>
    <div style="width: 100%; justify-content: center; align-items: center; display: flex;">
      <div class="seperator"></div>
    </div>
    <div class="flex-vertical-center">
      <div class="flex-vertical filters-container">
        <p class="secondary-text">Weapon & Warbond filters coming really soon!</p>
        <app-stratagem-filters></app-stratagem-filters>
        <app-booster-filters></app-booster-filters>
      </div>
    </div>
  </div>
</main>