<main class="main">
  <div class="flex-vertical">
    <div class="flex-vertical randomiser-display">
      <h1 class="title-text">Helldivers 2 Loadout Randomiser</h1>
      <app-randomise-button (randomise)="randomise()"></app-randomise-button>
      <div> <!-- adding this  div so the gap: attribute gets ingored between these too so the gap can instead be added my the wepon displays so the layout doesnt move with multi-line weapon names -->
        <app-weapon-randomiser></app-weapon-randomiser>
        <app-stratagem-randomiser></app-stratagem-randomiser>
      </div>
      <app-booster-randomiser></app-booster-randomiser>
    </div>
    <div style="width: 100%; justify-content: center; align-items: center; display: flex;">
      <div class="seperator"></div>
    </div>
    <div class="flex-vertical-center">
      <div class="main-content-container">
      <div class="flex-vertical filters-container">
        <app-warbond-filters></app-warbond-filters>
        <app-weapon-filters></app-weapon-filters>
        <app-stratagem-filters></app-stratagem-filters>
        <app-booster-filters></app-booster-filters>
      </div>
      <div>
        <div class="seperator"></div>
        <app-learn-more></app-learn-more>
      </div>
      </div>
    </div>
  </div>
</main>
