<div class="filter-section">
  <!-- Main component section -->
  <app-collapsible-section
    [title]="'Stratagems'"
    [variant]="'component'"
    [initiallyCollapsed]="stratagemCollapsed"
    (toggled)="toggleStratagemCollapse($event)"
  >
    <div class="flex-horizontal checkboxes-container">
      <div class="checkbox-container" (click)="toggleOnlyOneBackpack()">
        <p class="primary-text">Only One Backpack</p>
        <input type="checkbox" [checked]="onlyOneBackpack" />
      </div>
      <div class="checkbox-container" (click)="toggleGuaranteeBackpack()">
        <p class="primary-text">Guarantee Backpack</p>
        <input type="checkbox" [checked]="guaranteeBackpack" />
      </div>
      <div class="checkbox-container" (click)="toggleOnlyOneSupport()">
        <p class="primary-text">Only One Support Weapon</p>
        <input type="checkbox" [checked]="onlyOneSupport" />
      </div>
      <div class="checkbox-container" (click)="toggleGuaranteeSupport()">
        <p class="primary-text">Guarantee Support Weapon</p>
        <input type="checkbox" [checked]="guaranteeSupport" />
      </div>
    </div>

    <!-- Ship Module Sections -->
    <div class="flex-vertical">
      <div *ngFor="let module of shipModules" class="filter-group">
        <!-- Module Checkbox - interactive container -->
        <div
          class="category-label-container category-checkbox-container"
          (click)="toggleModule(module)"
        >
          <p class="secondary-text filter-category">{{ module }}</p>
          <input type="checkbox" [checked]="!isModuleDisabled(module)" />
        </div>

        <!-- Stratagems in this module -->
        <div class="flex-horizontal filter-container">
          <ng-container
            *ngFor="let stratagem of getStratagemsForModule(module)"
          >
            <button
              class="filter-button"
              (click)="toggleStratagem(stratagem.id)"
              [title]="stratagem.name"
            >
              <img
                [src]="stratagem.iconPath"
                alt="{{ stratagem.name }} toggle"
                class="filter-icon"
                [class.filter-icon-disabled]="
                  disabledIds.includes(stratagem.id)
                "
              />
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </app-collapsible-section>
</div>
