@import '../../styles.scss';

.warbond-filter-button {
    height: calc($filters-icon-size * 2);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer
}

.secondary-text {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.warbond-filter-icon {
    height: 100%;
}

.warbond-filter-icon-disabled {
    filter: grayscale(100%);

    height: 90%;

    align-self: center;
}

.warbond-filter-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.scroll-container {
    overflow: hidden;
}

$transparent-background-color: rgba($background-color, 0.85);

.scroll-button {
    position: absolute;
    top: 0;
    z-index: 1;
    background: linear-gradient(to left, $transparent-background-color, rgba(0, 0, 0, 0));
    border: 0px;
    height: 100%;

    transition: transform 0.05s ease-in-out;
}

.scroll-button:active .chevron-icon{
    transform: scale(0.9);
}

.scroll-button:active .chevron-icon-left{
    transform: rotate(180deg) scale(0.9);
}


.scroll-button-left{
    background: linear-gradient(to right, $transparent-background-color, rgba(0, 0, 0, 0));
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.chevron-icon{
    width: calc($filters-icon-size / 2);
    cursor: pointer
}

.chevron-icon-left{
    transform: rotate(180deg);
}

.flex-horizontal,
.flex-vertical {
    gap: $filter-icon-gap;
}