@import "../../styles.scss";

@media (max-width: $mobile) {
  // roughly enough for 2 icons horizontally
  .filter-button {
    width: 45%;
    height: auto;
  }
}

// Component-specific overrides
.filter-container {
  gap: 0.5rem; // Override the global 0.25rem gap
}

.filter-icon {
  width: auto;
}

// Media query overrides if needed
@media (max-width: $mobile) {
  // roughly enough for 2 icons horizontally
  .filter-button {
    width: 45%;
    height: auto;
  }
}
