@import '../../styles.scss';

.weapon-filter-button {
    height: $filters-icon-size;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer
}

input{
    cursor: pointer
}

.secondary-text{
    -webkit-hyphens:auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.weapon-filter-icon {
    height: 100%;
}

.weapon-filter-icon-disabled{
    filter: grayscale(100%);
    transform: scale(90%);

    // width: 90%;
    // margin: 0px 10%;

    align-self: center;
}
.weapon-filter-container{
    display: flex;
    justify-content: left;
    width: 100%;
}

.flex-horizontal,
.flex-vertical{
    gap: $filter-icon-gap;
}

.weapon-checkbox-container{
    margin-top: calc($filter-icon-gap * 2);
}
