@import '../../styles.scss';

.booster-filter-button {
    aspect-ratio: 1;
    width: calc($filters-icon-size + 1vmin); // Add 1vin so the icons look more perceptually equally sized to the strategem icons due to the haxagon shape
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.secondary-text{
    -webkit-hyphens:auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.booster-filter-icon {
    background-color: transparent;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.booster-filter-icon-disabled{
    filter: grayscale(100%);
    background-color: transparent;

    width: 90%;
    margin: 10%;

    align-self: center;
}

.booster-filter-module-container{
    display: flex;
    justify-content: left;
}

.booster-filter-container{
    display: flex;
    justify-content: left;
}

