@import "../../styles.scss";

// Component-specific overrides
.filter-button {
  aspect-ratio: 1;
  width: calc(var(--icon-size-sm) * 1.3);
}

// Media query overrides if needed
@media (max-width: 768px) {
  .filter-button {
    width: calc(var(--icon-size-sm) * 1.1);
  }
}
