/* You can add global styles to this file, and also import other style files */
:root {
    --grey-text: #d9d9d9;
}

$randomiers-icon-size: 11vmin;
$filters-icon-size: 7vmin;
$filter-icon-gap: 1vmin;

@font-face {
    font-family: 'Swiss 721';
    src: url('./assets/fonts/Swiss 721 Extended Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Sinclair';
    src: url('./assets/fonts/FS Sinclair Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Sinclair';
    src: url('./assets/fonts/FS Sinclair Medium.otf');
    font-weight: Medium;
}

$background-color: #201e21;

body {
    background-color: $background-color;
    width: 100vw;
    margin: 0;
}

* {
    color: white;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.primary-text {
    color: white;
    font-family: 'Sinclair';
    font-weight: Medium;
    font-size: 1.5rem;
    margin: 0px;
}

.secondary-text {
    color: var(--grey-text);
    font-family: 'Sinclair';
    font-weight: Medium;
    margin: 0px;
}

.title-text {
    font-family: "Swiss 721";
    font-weight: "bold";
    margin: 0px;
}

.subtitle-text {
    color: var(--grey-text);
    font-family: "Swiss 721";
    font-weight: "bold";
    margin: 0px;
    margin-top: 0.5rem;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex-vertical-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

// Sizes the body to include the verical scroll bar to prevent the layout from 
// becoming off-center
html{
    overflow: auto;
    overflow-x: hidden;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 50vh;
}