@import '../../styles.scss';

.subtitle-text,
.primary-text,
.secondary-text {
    margin: 0;
    padding: 0 1vmin;
}

.subtitle-text{
    margin-top: 1rem;
}

.primary-text {
    margin-top: 0.2rem;
    // font-size: 2rem;
    min-height: 6rem;
}

.secondary-text {
    margin: none;
}

.flex-vertical{
    align-items: left;
    justify-items: left;
    text-align: left;
}

.weapon-icon{
    height: $randomiers-icon-size;
    // aspect-ratio: 250/134;
    width: fit-content;
}

.Weapon-display{
    margin: 0px 2vmin;
    // Calculate the width of the weapon display container based on the 
    // icon height and aspect ratio of the primary/secondary weapon icons
    // this is done instead of other methods so that
    // the grenade display has the same witdth as the primary/secondary weapon displays
    // despite its icon having a diffrent width + apsect ratio
    width: calc($randomiers-icon-size * (250 / 134));   
}